blockquote,
.note {
  padding: 1rem;
  font-size: 1.125rem;
  border: solid 0.125rem;
}

blockquote p:first-child::before {
  content: open-quote;
}

blockquote p:nth-last-child(2)::after {
  content: close-quote
}

blockquote cite {
  font-size: 1rem;
  display: flex;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  text-align: left;
  border: solid 0.125rem;
  padding: 0.25rem 0.5rem;
  margin-right: -1.5rem;
  background: white;
  position: relative;

  &::before {
    content: '';
    display: block;
    flex: auto;
  }
}

blockquote a,
blockquote a:visited {
  color: inherit;
}