$container__max-width: 40rem;
$centered-children__wider__max-width: 46rem;


@mixin container($max-width: $container__max-width, $gutter-width: 1.5rem ) {
  width: calc(100% - #{2 * $gutter-width});
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
	display: block;
}

.container {
  @include container();
}

// Either the max-width, the margin or both
// throw Chrome out of kilter when computing
// page breaks :'(
@media not print {
  .contained-children {
    > * { 
      @include container;
    }
  }
}

// But firefox is fine with it 🎉
@media print {
  // That's an obscure Gecko specific at-rule found there: 
  // https://stackoverflow.com/questions/46958589/firefox-only-css-in-a-media-query
  // Importantly it lets us enable the nice centering for Gecko and that's nice!!!
  @-moz-document url-prefix() {
    .contained-children {
      > * { 
        @include container;
      }
    }
  }
}


.contained-children--with-automatic-widening {
  > pre,
  > figure, 
  > img, 
  > blockquote,
  > style, 
  > script {
    max-width: $centered-children__wider__max-width;
  }
}

.centered-children__wider {
  max-width: $centered-children__wider__max-width;
}