@use '../abstract/list' as l;

$headings: h1, h2, h3, h4, h5, h6 !default;

#{$headings} {
  &[id] {
    position:relative;
  }

  [href^="#"]:focus {
    outline: none;
  }

  & + * {
    margin-top: 0.25rem;
  }
}

#{l.remove-values($headings, h1)} {
  * + & {
    margin-top: 1.75rem;
  }
}

h1 {
  line-height: 1.3;
  counter-reset: h2;
}

h3 {
  font-size: 1.25rem;
}

h2 [href^="#"]::before {
  counter-increment: h2;
  content: counter(h2) '.';
  position: absolute;
  right: 100%;
  top: 50%;
  transform:translateY(-50%);
  padding: 0.375em;
  padding-right: 0.25rem;
  color: #666;
  font-weight: normal;
  font-size: 0.8em;

  
  .no-heading-counter & {
    counter-increment: none;
    content: none;
  }
}

.subheading {
	display: block;
	font-size: 60%;
	opacity: 0.6;
}

// TODO: Move the following in a rehype plugin
// Removal of permalinks for non h2 links
h1 [href^="#"],
h3 [href^="#"],
h4 [href^="#"],
h5 [href^="#"],
h6 [href^="#"] {
  display: none;
}

.heading--discreet {
	display:inline;
	font:inherit;
}