.page-list {
  padding:0;
  list-style-type: none;
  display: flex;
  align-items: baseline;

  > * + * {
    margin-left: 0.5rem;
  }
}

.pagination {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  a:not([href]) {
    visibility: hidden
  }

  > * + * {
    margin-left: 0.5rem;
  }

  > h2 + * {
    margin: 0;
  }
}