@use 'headings';
@use '../abstract/list' as l;

// List of elements that will be automatically spaced
// within the prose block
$prose-blocks: p, ul, ol, dl, details, address, figure, table, blockquote, article, aside, section, '.prose-block';

// Abstract SASS class that'll allow:
// - to automatically generate all the combinations (until `:is()` is widely supported)
// - to let other selectors join the fun
%prose-block {
  margin-bottom: 0;
}

.prose-block {
  display: block;
}

.prose {
  #{$prose-blocks} {
    @extend %prose-block;
  }

  > * + *,
  & %prose-block + %prose-block {
    margin-top: 1.5rem;
  }

  * + kbd {
    margin-top: 0;
  }

  br {
    margin: 0;
  }

  #{headings.$headings} {
    & + * {
      margin-top: 0.25rem;
    }
  }

  * {
    & + #{l.remove-values(headings.$headings, (h1))} {
      margin-top: 2rem;
    }

    & + figcaption {
      margin-top: 0.25rem;
    }
  }

  li + li,
  p + ul,
  p + ol,
  p + dl {
    margin-top: 0.5rem;
  }

  > img {
    @extend %prose-block;
  }

  dt {
    font-weight: bold;
  }

  * + dt,
  dl > * + div {
    margin-top: 0.5rem;
  }
}