.tech-list {
  font-style: italic;
  margin-left: auto;
  margin-right: -1.25rem;
  padding: 0.25rem 0.5rem;
  background: #e0e0e0;
  position: relative;
  max-width: 50ch;
  max-width: min(75%, 50ch);
  width: max-content;
}

.tech-list::after {
  content: '';
  position: absolute;
  border: solid 0.25rem #e0e0e0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 100%; /* From bottom due to padding, shifted half-height to position correctly */
  right: 0;
}
