<template>
	<nav class="creations-medium-navigation">
		<h2>Medium</h2>
		<ul>
			<li
				v-for="medium in ['any', 'sketch', 'painting', 'digital', 'pottery']"
				:key="medium"
			>
				<nuxt-link
					:to="
						localePath(
							medium == 'any' ? '/creations/' : `/creations/medium/${medium}/`
						)
					"
				>
					{{ $t(`creationMedium.${medium}`) }}
				</nuxt-link>
			</li>
		</ul>
	</nav>
</template>

<script>
export default {
	props: {
		current: {
			type: String,
			default: 'any',
		},
	},
}
</script>

<style lang="scss">
.creations-medium-navigation {
	* {
		display: inline-block;
	}

	ul {
		padding: 0;
	}

	li + li {
		&::before {
			content: ', ';
		}
	}

	h2 {
		font-size: inherit;
		&::after {
			content: ': ';
		}
	}

	[aria-current] {
		font-weight: bold;
		&,
		&:active {
			text-decoration: none;
		}
	}
}
</style>
