<i18n>
{
  "en": {
    "posts": "All posts"
  },
  "fr": {
    "posts": "Tous les posts"
  }
}
</i18n>

<template>
  <nav
    aria-labelledby="site-navigation-label"
    class="show-current-link show-active-link"
  >
    <h2 id="site-navigation-label" hidden>Site</h2>
    <nuxt-link
      class="link-reversed brand no-active site-header__keep-on-print"
      :to="localePath('/')"
      :active-class="null"
      :data-print-url="'https://romaricpascal.is' + localePath('/')"
    >
      {{/* TODO: Review data-print-url to make it more portable (using Host header possibly) */}}
      Romaric Pascal
    </nuxt-link>
    <nuxt-link :to="localePath('/posts')">{{ $t('posts') }}</nuxt-link>
    <nuxt-link :to="localePath(`/${me.route}`)">{{ me.title }}</nuxt-link>
    <a
      class="site-header__keep-on-print"
      href="mailto:hello@romaricpascal.is"
      data-print-url="hello@romaricpascal.is"
    >
      Contact
    </a>
  </nav>
</template>

<script>
export default {
  async fetch() {
    const me = await this.$content({ deep: true })
      .where({
        key: '/me',
        language: this.$i18n.locale,
      })
      .fetch()
    this.me = me[0]
  },
  data() {
    return { me: {} }
  },
  watch: {
    '$i18n.locale'() {
      this.$fetch()
    },
  },
}
</script>
