<template>
	<figure v-if="!!caption">
		<slot />
		<figcaption>{{ caption }}</figcaption>
	</figure>
	<Fragment v-else>
		<slot />
	</Fragment>
</template>

<script>
export default {
	props: {
		caption: String,
	},
}
</script>
