:root {
  font-size: 12.5px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a[href]:not([href^='#'])::after {
  content: '[' attr(href) ']';
  display: inline-block;
  word-break: break-all;
  text-decoration: underline;
  margin-left: 0.25em;
}

a[href][hreflang]:not([href^='#'])::after {
  content: ' [' attr(href) ' - ' attr(hreflang) ']'
}

a[href][data-print-url]:not([href^='#'])::after {
  content: ' [' attr(data-print-url) ']'
}

a[data-no-print-url] {
  text-decoration: underline;
  
  &::after {
    content: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}

h1 {
  text-align: center;
}

code {
  font-size: 0.875rem;
}

dt {
  break-after: avoid;
}

dd {
  break-before: avoid;
}


.site-header a {
  padding: 0;
  display: block;
}

.site-header * + a {
  margin-top: 0.5rem;
}

.avatar {
  filter: grayscale(100%)
}

.project,
blockquote,
.no-break--inside {
  position: relative;
  -webkit-region-break-inside: avoid;
  break-inside: avoid;
}

.break--before {
  position: relative;
  -webkit-region-break-before: avoid;
  break-before: always;
}

blockquote {
  font-size: inherit;
}

.project h3,
.project h4,
.tech-list {
  border: solid 0.125rem;
  color: inherit;
}

// TODO: Figure out how to align it properly
.tech-list::after {
  display: none;
}

.project {
  position: relative;
  border: solid 0.125rem;
  color: inherit;
  background: none;
}

.site-header a:not(.site-header__keep-on-print) {
  display: none;
}

.no-print {
  display: none !important;
}