.font-size--inherit {
  font-size: inherit !important;
}

.font-size--larger {
  font-size: 1.125em !important;
}

.text-align--center {
  text-align: center !important;
}

.d--block {
  display: block !important;
}

.d--none {
  display: none !important;
}

.d--contents {
  display: contents !important;
}

.no-border {
  border: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.margin-top--sm {
  margin-top: 0.75rem !important;
}

.margin-top--md {
  margin-top: 1.5rem !important;
}

.no-max-width {
  max-width: none !important;
}

.no-padding {
	padding: 0 !important;
}
