*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body {
  line-height: 1.5;

  /* System font stack from https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #1D273A;
  background: #fafafa;

  // Sticky footer with centered main
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    margin-bottom: auto;
    margin-top: auto;
  }
}

html{
  height: 100%;
  scroll-padding: 1.5rem;
}

a:hover {
  text-decoration: none;
}

.hreflang {
  vertical-align: super;
  font-size: 80%;
}

code,
kbd,
.code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #eee;
  outline: solid 2px #eee;
}

.code-like {
  font-family: monospace;
  font-size: 1.2em;
}

kbd {
  min-width: 1.25em;
  line-height: 1.25;
  padding: 0 0.125em;
  text-align: center;
  display: inline-block;
}

figcaption {
  text-align: center;
  width: calc(100% - 2rem);
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  font-size: 90%;
  line-height: 1.4;
  padding: 0 1rem;

  * + & {
    margin-top: 0.25rem;
  }
}

figure > img {
  display: block;
}

fieldset {
  border: 0;
}

legend {
  font-weight: bold;
}

ul, ol {
  padding-left: 1rem;
}

:focus {
  outline: solid 2px #1D273A;
  outline-offset: 2px;
}

.skip-link {
  display: block;
  background: #1D273A;
  color: #fafafa;
  text-align: center;
  padding: 0.75rem;
}

.brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.lead {
  font-size: 1.125rem;
}


.avatar {
  float: right;
  shape-outside: circle(calc(50% + 1.5rem)) padding-box;
  width: 20%;
  min-width: 6rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.375rem;
}

.box {
  border: solid 2px;
  padding: 1rem;
}

.cta {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}


summary {
  cursor: pointer;
}

@import 'components/links';
@import 'components/active-link';
@import 'components/centered-children';
@import 'components/site-header';
@import 'components/site-footer';
@import 'components/prose';
@import 'components/blockquote';
@import 'components/language-switcher';
@import 'components/headings';
@import 'components/demo';
@import 'components/post-list';
@import 'components/project';
@import 'components/tech-list';
@import 'components/code_highlighting';
@import 'components/pagination';

@import 'utilities';

@media print {
  @import './print';
}
