<i18n>
{
  "en": {
    "heading": "All posts"
  },
  "fr": {
    "heading": "Tous les posts"
  }
}
</i18n>

<template>
	<Fragment>
		<header class="post-list-header">
			<h1>
				{{ $t('heading') }}
				<span v-if="page > 1" class="subheading">Page {{ page }}</span>
			</h1>
			<a :href="RSSUrl">{{ $t('rssFeed') }}</a>
		</header>
		<ul class="post-list margin-top--sm">
			<li v-for="(post, index) in posts" :key="index" class="post-list-item">
				<h2>
					<nuxt-link :to="localePath(`/${post.route}`)">
						{{ post.title }}
					</nuxt-link>
				</h2>
				<time :datetime="post.date.toISOString()">{{ $dt(post.date) }}</time>
			</li>
		</ul>
		<Pagination
			class="margin-top--md"
			:show-list="true"
			v-bind="pagination"
			:page="page"
		>
			Page {{ page }} / {{ pagination.lastPage }}
		</Pagination>
	</Fragment>
</template>

<script>
import head from '~/mixins/head'
import { paginate } from '~/lib/paginate'

export default {
	mixins: [head],
	async asyncData({ $content, store, params }) {
		const locale = store.state.i18n.locale
		const now = new Date()

		let posts = await $content('posts')
			.where({
				language: locale,
			})
			.sortBy('date', 'desc')
			.fetch()

		posts.forEach((post) => {
			if (post.date) {
				post.date = new Date(post.date)
			} else {
				post.date = new Date()
			}
		})

		// Filter out drafts and future posts
		// unless we're in dev, where the writing happens
		if (process.env.NODE_ENV !== 'development' || process.env.HIDE_DRAFT) {
			posts = posts
				.filter((post) => !post.draft)
				.filter((post) => post.date < now)
		}

		const page = params.page || 1
		const pagination = paginate(posts, {
			page: params.page || 1,
		})

		return {
			posts: posts.slice(pagination.startIndex, pagination.endIndex),
			page,
			pagination,
		}
	},
	computed: {
		headData() {
			return {
				title: [this.page !== 1 && `Page ${this.page}`, this.$t('heading')]
					.filter(Boolean)
					.join(' - '),
			}
		},
		RSSUrl() {
			// Remove trailing slash
			return this.localePath('/posts.rss').replace(/\/$/, '')
		},
	},
	layoutOptions: {
		prose: false,
	},
}
</script>
