<template>
	<Fragment>
		<a class="skip-link no-print" href="#main">Skip to content</a>
		<header class="site-header container">
			<Navigation />
			<LanguageSwitcher />
		</header>
		<main
			id="main"
			class="contained-children contained-children--with-automatic-widening"
			:class="{ prose }"
		>
			<Nuxt />
		</main>
		<footer class="site-footer no-print" role="contentinfo">
			© {{ new Date().getFullYear() }} Romaric Pascal -
			<a href="https://gitlab.com/romaricpascal" rel="me">GitLab</a>
			<a rel="me" href="https://social.romaricpascal.com/@romaric">Mastodon</a>
			<a href="/feed.xml" rel="alternate">RSS</a>
			<nav aria-labelledby="snapshots-heading">
				<h2 id="snapshots-heading" class="heading--discreet">
					See how the site looked before its past updates
				</h2>
				<a class="no-padding" href="https://2020.romaricpascal.is">in 2020</a>,
				<a class="no-padding" href="https://2017.romaricpascal.is">in 2017</a>,
				and <a class="no-padding" href="https://2016.rhumaric.com">in 2016</a>.
			</nav>
		</footer>
	</Fragment>
</template>

<script>
export default {
	data() {
		return {
			prose: true,
			...this.pageLayoutOptions,
		}
	},
	computed: {
		pageLayoutOptions() {
			return (
				this.$route.matched[0].components.default.options.layoutOptions || {}
			)
		},
	},
}
</script>
