<template>
	<Fragment>
		<Fragment v-if="doc">
			<Creation
				v-if="doc.dir == '/creations'"
				:single="true"
				:doc="doc"
				:locale="locale"
			/>
			<Fragment v-else>
				<h1 v-if="heading">{{ heading }}</h1>
				<time
					v-if="doc.type === 'post' || doc.showDate"
					class="d--block no-margin-top"
					:datetime="doc.date.toISOString()"
					>{{ $dt(doc.date) }}</time
				>
				<nuxt-content :document="doc" />
			</Fragment>
		</Fragment>
		<Page404 v-else />
	</Fragment>
</template>

<script>
import Page404 from './404'
import head from '~/mixins/head'

export default {
	components: {
		Page404,
	},
	mixins: [head],
	async asyncData({ $content, store, route, params, redirect }) {
		const locale = store.state.i18n.locale

		const routes = [
			params.pathMatch, // Either match the exact path
			`${params.pathMatch}/__INDEX__`, // Or an index page for that path
			// `__INDEX__`, // Or the root path
		]

		let doc
		for (const r of routes) {
			const results = await $content({ deep: true })
				.where({
					route: r,
					language: locale,
				})
				.fetch()

			doc = results[0]
			if (doc) break
		}

		// Allow a fallback to the default locale (for images)
		if (!doc) {
			for (const r of routes) {
				const results = await $content({ deep: true })
					.where({
						route: r,
						language: 'en',
					})
					.fetch()

				doc = results[0]
				if (doc) break
			}
		}

		if (doc) {
			doc.date = new Date(doc.date || doc.createdAt)

			const translations = await $content({ deep: true })
				.where({ key: doc.key })
				.fetch()

			const pathTranslations = {}
			translations.forEach((translatedDocument) => {
				pathTranslations[translatedDocument.language] = {
					pathMatch: translatedDocument.route.replace('__INDEX__', ''),
				}
			})

			await store.dispatch('i18n/setRouteParams', pathTranslations)
		}

		return { doc, locale }
	},
	computed: {
		headData() {
			return {
				title: this.pageTitle,
				description: this.doc?.ogDescription,
			}
		},
		pageTitle() {
			if (this.doc) {
				if (this.doc.route === '__INDEX__') {
					return
				}

				return this.doc.pageTitle || this.doc.title || this.$dt(this.doc.date)
			}

			return 'Not Found'
		},
		heading() {
			return this.doc.heading || this.doc.title
		},
	},
}
</script>
