<template>
	<article>
		<h1 v-if="single">
			<time :datetime="doc.date.toISOString()">{{ $dt(doc.date) }}</time>
		</h1>
		<h2 v-else>
			<time :datetime="doc.date.toISOString()">{{ $dt(doc.date) }}</time>
		</h2>
		<optional-figure :caption="caption">
			<picture>
				<source
					:type="doc.metadata.webp[0].sourceType"
					:srcset="imageUrl(doc.metadata.webp[0].outputPath)"
				/>
				<img :src="imageUrl(doc.metadata.jpeg[0].outputPath)" :alt="alt" />
			</picture>
		</optional-figure>
	</article>
</template>

<script>
import OptionalFigure from '../OptionalFigure.vue'
export default {
	components: { OptionalFigure },
	props: {
		doc: Object,
		locale: String,
		single: Boolean,
	},
	computed: {
		localizedMetadata() {
			return this.doc[this.locale]
		},
		alt() {
			if (typeof this.localizedMetadata === 'string') {
				return this.localizedMetadata
			}

			return this.localizedMetadata.alt
		},
		caption() {
			if (typeof this.localizedMetadata !== 'string') {
				return this.localizedMetadata.caption
			}
			return null
		},
	},
	methods: {
		imageUrl(path) {
			// Using require(`~/${path}`) would have webpack try to load
			// all the files of the project, including `.md` (and likely other extensions)
			// that it doesn't know how to load.
			//
			// Instead, we need to have it look specifically in `assets/images` to limit
			// the scope of its search to something it does know how to process.
			//
			// The `assets/images`, while referencing the config of Eleventy Image
			// needs to be hardcoded in the `require` path, otherwise we're back in Webpack
			// looking into the whole project
			//
			// https://stackoverflow.com/a/54855005
			return require(`~/assets/images${path.replace('assets/images', '')}`)
		},
	},
}
</script>
