<template>
	<Fragment>
		<header class="post-list-header">
			<h1>
				{{ this.heading }}
				<span class="subheading">
					{{ $t(`creationMedium.${medium}`) }}
					<Fragment v-if="page > 1"> Page {{ page }} </Fragment>
				</span>
			</h1>
		</header>
		<div class="margin-top--sm">
			<nuxt-content :document="pageContent" />
		</div>
		<CreationMediumNavigation class="margin-top--sm" :current="medium" />
		<ul class="post-list">
			<li v-for="(post, index) in posts" :key="index" class="post-list-item">
				<nuxt-link :to="localePath(`/${post.route}`)">
					<Creation :doc="post" :locale="locale" />
				</nuxt-link>
			</li>
		</ul>
		<Pagination
			class="margin-top--md"
			:show-list="true"
			v-bind="pagination"
			:page="page"
		>
			Page {{ page }} / {{ pagination.lastPage }}
		</Pagination>
	</Fragment>
</template>

<script>
import head from '~/mixins/head'
import { paginate } from '~/lib/paginate'

export default {
	mixins: [head],
	async asyncData({ $content, store, params }) {
		const locale = store.state.i18n.locale
		const now = new Date()
		const medium = params.medium

		const pageContent = await $content('creations', {})
			.where({
				slug: 'index',
				language: locale,
			})
			.fetch()

		let posts = await $content('creations', {})
			.where({ extension: '.yml', medium })
			.sortBy('date', 'desc')
			.fetch()

		posts.forEach((post) => {
			post.date = new Date(post.slug)
		})

		// Filter out drafts and future posts
		// unless we're in dev, where the writing happens
		if (process.env.NODE_ENV !== 'development' || process.env.HIDE_DRAFT) {
			posts = posts
				.filter((post) => !post.draft)
				.filter((post) => post.date < now)
		}

		const page = params.page || 1
		const pagination = paginate(posts, {
			page: params.page || 1,
		})

		return {
			posts: posts.slice(pagination.startIndex, pagination.endIndex),
			medium,
			page,
			pagination,
			locale,
			pageContent: pageContent[0],
		}
	},
	computed: {
		heading() {
			return this.pageContent.title
		},
		headData() {
			return {
				title: [
					this.page !== 1 && `Page ${this.page}`,
					this.medium !== 'any' && this.$t(`creationMedium.${this.medium}`),
					this.heading,
				]
					.filter(Boolean)
					.join(' - '),
			}
		},
		RSSUrl() {
			// Remove trailing slash
			return this.localePath('/creations.rss').replace(/\/$/, '')
		},
	},
	layoutOptions: {
		prose: false,
	},
}
</script>
